.ProfileSide{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    overflow: auto;
}
@media (max-width: 768px) {
    .ProfileSide .FollowersCard,
    .ProfileSide .ProfileCard {
      display: none; 
    }
  }