.Logosearch{
    display: flex;
    gap: 0.75rem;
}

.search{
    display: flex;
    background-color: var(--inputColor);
    border-radius: 10px;
    padding: 5px;
}
.search>input{
    background-color: transparent;
    border: 1px solid gainsboro;
    outline: none;
}
.search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(98.63deg, #008080 0%, #00bfbf 100%);
    border-radius: 5px;
    padding: 4px;
    color: white;
}
.search-icon{
    cursor: pointer;
}